.modal-wrapper {
    position: absolute;
    perspective: 800px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:-1;
    transition-delay: 0.4s;
}
.modal-wrapper.active{
    z-index:520;
    transition-delay: 0s;


}
.grey-modal-wrapper{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    left: 0;
    right:0;
    bottom : 0;
    opacity: 0;
    transition: all .1s linear;
    transition-delay: 0.4s;
}
.grey-modal-wrapper.active{
    opacity: 1;
    transition: all .3s linear;

}
.modal-main{
    /*z-index:-9999;*/
    top: 25%;
    left : 30%;
    width: 50%;
    max-width: 550px;
    min-width: 320px;
    position: fixed;
    background-color: rgb(24, 31, 36);
    cursor: pointer;
    transition: all 0.3s linear;
    transform: rotateX(-80deg);
    opacity: 0;
    transition-delay: 0.2s;

}
.modal-main.active {
    transform: rotateX(0);
    opacity: 1;
    z-index:1;
}


.modal-main h3{
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    opacity: 0.8;
    background: #fff;
    border-radius: 0;
    color: #4C5264;
    font-weight: bold;
}
.modal-main p {
    color: #ffffff;
    font-size: 17px;
    font-weight: normal;
}
.modal-main div{
    padding:15px;
}

.modal-main ul {
    color :#ffffff;
    font-weight: bold;
    padding-left: 15px;
}

.modal-main ul >li{
    padding:10px 0;
}
.modal-main ul > li:hover, .modal-main ul > li.active{
    opacity: 0.8;
    color : blue
}
.modal-main button {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #00aeef;
    font-weight: 600;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    width: 90%;
}